html,
body,
#app {
  height: 100%;
}

.debug {
  border-style: solid;
}

.flexParent {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 200px;
  padding: 20px;
}

.mainContent {
  width: 100%;
  padding: 20px;
}
