html,
body,
#app {
  height: 100%;
}

.debug {
}

.sidebar {
  padding: 20px;
  margin: 2px;
}

.mainContent {
  padding: 20px;
  margin: 2px;
}

@media (min-width: 600px) {
  .flexParent {
    display: flex;
    height: 100%;
  }
  .sidebar {
    width: 200px;
    padding: 20px;
    margin: 2px;
  }
  .mainContent {
    width: 100%;
  }
}
