html,
body,
#app {
  height: 100%;
}

.debug {
  border: 1px solid black;
}

.sidebar {
  padding: 20px;
  margin: 2px;
}

.mainContent {
  padding: 20px;
  margin: 2px;
}

@media (min-width: 600px) {
  .flexParent {
    display: flex;
    height: 100%;
  }
  .sidebar {
    width: 200px;
  }
  .mainContent {
    width: 100%;
  }
}

.searchPresentation {
  overflow-y: scroll;
}

.searchResult {
  margin: 4px;
  text-align: center;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.searchResult_image_container {
  margin-bottom: 4px;
  overflow: hidden;
}

.searchResult_image_container img {
  height: 100px;
}

.detailsPresentation {
  max-width: 400px;
  margin: 12px 2px 12px 0px;
}

.detailsPresentation img {
  max-width: 400px;
}

.detailsPresentation_price {
  margin: 6px 0px 6px 0px;
  padding: 20px 0px 20px 0px;
  border-bottom: grey 1px solid;
}

.detailsPresentation li {
  margin: 3px 0px;
}
